body {
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
        -ms-overflow-style: none;
    text-align: center;

    font-family: Avenir;

    background: url(../images/FallBeach.jpg) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2 {
    font-weight: bold;
    text-align: left;
}
.profile-name {
  text-align: center;
}

#overview {
    background-color:transparent;
}

#left {
    background-color:transparent;
}

#right {
    background-color: rgba(207, 207, 207, 0.2);
}
#right table td, #right table th {
  text-align: left;
  font-size: .75em;
  border: 1px rgba(207, 207, 207, 0.5) solid;
}
.prof-img {
  width: 100%;
}

/** graph elements **/
.link line {
    stroke: #cfcfcf;
}

.node circle {
    stroke: #e0e0e0;
    stroke-width: 1px;
}

.node text {
    font-size: 1em;
    pointer-events: none;
}
